[submodule "lib/cglm"]
	path = lib/cglm
	url = https://github.com/sam-itt/cglm.git
	shallow = true
[submodule "lib/fg-io"]
	path = lib/fg-io
	url = https://github.com/sam-itt/fg-io.git
	shallow = true
